@font-face {
    font-family: roboto;
    src: url(../assets/fonts/roboto/RobotoMono-Bold.ttf);
}

* {
    margin:0;
    padding: 0;
    list-style: none;
    color: #f1f1f1;
}
body{
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 2em;
    background: linear-gradient(30deg,rgb(3, 3, 63), rgb(0, 0, 29),rgb(68, 5, 68));
}

main{
    position:relative;
    min-height:100vh;
    background: linear-gradient(30deg,rgb(0, 0, 0), rgb(0, 0, 0));
    box-shadow: inset 0 0 10px white,
                inset -100px 0 10px rgb(0, 0, 0);
    border-radius: 2em;
}

/*---------------------Partie pour le header---------------------------*/
header{
    position: absolute;
    right:0;
    top:0;
    margin: 1em;
    nav ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width:20em;
        padding: 0;
        margin: 0;
        li{
            list-style-type: none;
            min-width: 2em;
        }
    }
}
/*---------------------Fin partie pour le header---------------------------*/

.wrapperPresentation{
    padding: 5.5em 30% 5.5em 13em;
    
    p{
        margin-top:1em;
        white-space:pre-line;
        font-family: roboto;
       
    }

}



.wrapperPhotoProfile{
    position:absolute;
    width:15em;
    height:15em;
    
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-30%,-10%);
    img{
        width:100%;
        height:100%;
        border-radius:100%;
    }
    &:hover{
        img{
            transform: scale(0.99) ;
        }
        &::after {
            background-position: 98% 98%;
            transform: translate(-0.15em,-0.15em) rotate(180deg)
        }
    }
    &::after{ //L'effet de border noir et blanche de l'image
        content: '';
        position: absolute;
        width:15.3em;
        height:15.3em;
        top:0;
        left:0;
        transform: translate(-0.15em,-0.15em);
        border-radius: 50%;
        background: linear-gradient(120deg,rgb(194, 194, 194)72%,rgb(0, 0, 0)72%,rgb(0, 0, 0));
        background-position: 90% 90%;
        z-index: -1;
        background-size: 200% 200%;
        transition: 1s;
        filter: blur(1px);
    }
}



.mesSkills{
    width:100%;
    height:25em;
    
}

.wrapperSkills{
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    margin-left:3em;
    margin-right: 3em;
    
    height: 100%;
    
    & > *{
        padding: .4em;
        background-color: black;
        margin:5px;
        border: solid thin rgb(255, 255, 255);
        border-radius: 2em;
        box-shadow: 3px 7px 10px -3px rgb(97, 1, 161);
        transition: .2s;
        &:hover{
            transform: scale(1.01);
        }
    }
}


.skillHtml{
    overflow: hidden;
    position: relative;
    .boulle{
       
        position: absolute;
        left:-3em;
        bottom:-5em;
        width:14em;
        height: 14em;
        border-radius: 50%;
        background-color: rgba(255, 136, 1, 0.801);
    }
}

.skillCss{
    overflow: hidden;
    position: relative;
    .boulle{
        
        position: absolute;
        right:-3em;
        top:-5em;
        width:14em;
        height: 14em;
        border-radius: 50%;
        background-color: rgba(0, 101, 253, 0.726);
    }
}

.skillJavascript{
    overflow: hidden;
    position: relative;
    .boulle{
        position: absolute;
        right:-3em;
        bottom:-5em;
        width:14em;
        height: 14em;
        border-radius: 50%;
        background-color: rgb(246, 250, 2);
    }
}

















.snowBall {
    & > *{
        content: '';
        position: absolute;
        width:5vw;
        height:5vw;
        border-radius: 50%;
        filter:blur(3vw);
        animation: backgroundAnimation 10s linear infinite;
        z-index: -1;
        transform: translate(-50%,-50%);
    }
    & div:nth-child(1){
        left: 5em;
        background-color: purple;
    }
    & div:nth-child(2){
        right:0;
        background-color: blue;
    }
}

@keyframes backgroundAnimation {
    0%{
        top:-5vw;
        background-color: rgb(0, 255, 0);
    }
    100%{
        top:100%;
        background-color: rgb(0, 255, 200);
    }
}