@font-face {
  font-family: roboto;
  src: url(../assets/fonts/roboto/RobotoMono-Bold.ttf);
}
@font-face {
  font-family: raleway1;
  src: url(../assets/fonts/Raleway/Raleway-ExtraBold.ttf);
}
@font-face {
  font-family: josefin1;
  src: url(../assets/fonts/Josefin/JosefinSans-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #f1f1f1;
  text-decoration: none;
  font-family: josefin1;
}

body {
  padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 2em;
  background: linear-gradient(30deg, rgb(0, 0, 20), rgb(0, 0, 0), rgb(20, 20, 20));
}

main {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(30deg, rgb(0, 0, 0), rgb(0, 0, 0));
  /*box-shadow: inset 0 0 10px white,
              inset -100px 0 10px rgb(0, 0, 0);*/
  border-radius: 2em;
  padding-bottom: 10em;
}

/*---------------------Partie pour le header---------------------------*/
header {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em;
  border-radius: 0 2em 0 0;
  box-shadow: 14px -14px 1em -16px rgb(252, 252, 252);
}
header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30em;
  padding: 0;
  margin: 0;
}
header nav ul li {
  list-style-type: none;
  min-width: 2em;
}
header nav ul li a {
  font-family: raleway1;
  font-size: 1.4em;
}

/*---------------------Fin partie pour le header---------------------------*/
.wrapperPresentation {
  padding: 18em 18em 25em 18em;
  margin-bottom: 5em;
  position: relative;
}
.wrapperPresentation h1 {
  display: flex;
  justify-content: center;
  font-size: 2.5em;
  border-radius: 50%;
  padding: 0.1em;
}
.wrapperPresentation p {
  margin-top: 1em;
  padding: 0.5em;
  white-space: pre-line;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
}
.wrapperPresentation svg {
  position: absolute;
  bottom: 5em;
  left: 50%;
  transform: translateX(-50%);
  fill: white;
  width: 3.5em;
}
.wrapperPresentation::after {
  content: "";
  position: absolute;
  width: 15em;
  height: 15em;
  border-radius: 50%;
  transform: translate(-50%, 50%);
  left: 50%;
  bottom: 50%;
  filter: blur(200px);
  background-color: rgb(165, 165, 165);
}

.wrapperPhotoProfile {
  position: absolute;
  width: 15em;
  height: 15em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-30%, -10%);
  z-index: 1;
}
.wrapperPhotoProfile img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.wrapperPhotoProfile:hover img {
  transform: scale(0.99);
}
.wrapperPhotoProfile:hover::after {
  background-position: 90% 90%;
  transform: translate(-0.15em, -0.15em) rotate(10deg);
}
.wrapperPhotoProfile::after {
  content: "";
  position: absolute;
  width: 15.3em;
  height: 15.3em;
  top: 0;
  left: 0;
  transform: translate(-0.15em, -0.15em);
  border-radius: 50%;
  background: linear-gradient(120deg, rgb(194, 194, 194) 72%, rgb(0, 0, 0) 72%, rgb(0, 0, 0));
  background-position: 90% 90%;
  z-index: -1;
  background-size: 200% 200%;
  transition: 1s;
  filter: blur(1px);
}

.mesSkills {
  width: 100%;
  box-shadow: 14px 0 1em -20px rgb(252, 252, 252), -14px 0 1em -20px rgb(255, 255, 255);
}

.wrapperSkills {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 2em;
  margin-right: 2em;
}
.wrapperSkills > * {
  width: 350px;
  height: 22em;
  padding: 0.8em;
  background-color: black;
  margin: 5px;
  border-left: solid thin rgba(248, 248, 248, 0.164);
  border-top: solid thin rgba(248, 248, 248, 0.164);
  border-radius: 2em;
  box-shadow: 3px 7px 10px -7px rgba(10, 245, 2, 0.308);
  transition: 0.2s;
  font-family: josefin1;
  font-weight: 600;
}
.wrapperSkills > *:hover {
  transform: scale(1.01);
}
.wrapperSkills > * p {
  font-size: 1.5em;
}

.skillHtml {
  overflow: hidden;
  position: relative;
}
.skillHtml .boulle {
  position: absolute;
  left: -3em;
  bottom: -5em;
  width: 14em;
  height: 14em;
  border-radius: 50%;
  background-color: rgba(124, 124, 124, 0.644);
}
.skillHtml:hover .boulle {
  background-color: rgba(245, 90, 0, 0.884);
}
.skillHtml:hover .titreHtml svg {
  fill: rgba(245, 90, 0, 0.884);
}
.skillHtml p {
  white-space: pre-line;
  width: 70%;
}

.titreHtml {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 5em;
  height: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.titreHtml svg {
  width: 4em;
  height: 5em;
  fill: rgb(77, 77, 77);
  transition: 0.5s;
}
.titreHtml h2 {
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 1em;
  font-family: raleway1;
}

.skillCss {
  overflow: hidden;
  position: relative;
}
.skillCss .boulle {
  position: absolute;
  right: 1em;
  bottom: -5em;
  width: 14em;
  height: 14em;
  border-radius: 50%;
  background-color: rgba(97, 97, 97, 0.726);
}
.skillCss:hover .boulle {
  background-color: rgba(23, 96, 253, 0.884);
}
.skillCss:hover .titreCss svg {
  fill: rgba(23, 96, 253, 0.884);
}
.skillCss p {
  white-space: pre-line;
  width: 70%;
}

.titreCss {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 5em;
  height: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.titreCss svg {
  width: 4em;
  height: 5em;
  fill: rgb(77, 77, 77);
  transition: 0.5s;
}
.titreCss h2 {
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 1em;
  font-family: raleway1;
}

.skillJavascript {
  overflow: hidden;
  position: relative;
}
.skillJavascript .boulle {
  position: absolute;
  right: -3em;
  bottom: -5em;
  width: 14em;
  height: 14em;
  border-radius: 50%;
  background-color: rgb(83, 83, 83);
}
.skillJavascript:hover .boulle {
  background-color: rgba(236, 253, 0, 0.884);
}
.skillJavascript:hover .titreJavascript svg {
  fill: rgba(249, 253, 0, 0.986);
}
.skillJavascript p {
  white-space: pre-line;
  width: 70%;
}

.titreJavascript {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 5em;
  height: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.titreJavascript svg {
  width: 4em;
  height: 5em;
  fill: rgb(77, 77, 77);
  transition: 0.5s;
}
.titreJavascript h2 {
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 1em;
  font-family: raleway1;
}

.snowBall > * {
  content: "";
  position: absolute;
  width: 15em;
  height: 15em;
  border-radius: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.snowBall div:nth-child(1) {
  left: 0em;
  top: 50em;
  filter: blur(200px);
  background-color: rgb(4, 0, 255);
}
.snowBall div:nth-child(2) {
  right: -15em;
  filter: blur(150px);
  background-color: rgb(0, 0, 255);
}
.snowBall div:nth-child(3) {
  right: -15em;
  bottom: 0;
  filter: blur(150px);
  background-color: rgb(0, 0, 255);
}

/*
@keyframes backgroundAnimation {
    0%{
        top:-15em;
        background-color: rgb(255, 255, 255);
    }
    50%{

        background-color: rgb(0, 3, 161);
    }
    60%{
        top: calc( 100% - 15em);
        background-color: rgb(253, 253, 253);
    }
}*//*# sourceMappingURL=main.css.map */